In [4]:
import simpy as sp
import pandas as pd
import wget
import os

In [3]:
# load zenodo manufacturing dataset for process manufacturing anomlay detection

!wget "https://zenodo.org/record/7071747/files/raw_data.csv"

--2023-06-21 23:08:57--  https://zenodo.org/record/7071747/files/raw_data.csv
Resolving zenodo.org (zenodo.org)... 188.185.124.72
Connecting to zenodo.org (zenodo.org)|188.185.124.72|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 49342406 (47M) [text/plain]
Saving to: ‘raw_data.csv’

raw_data.csv        100%[===================>]  47.06M  1.25MB/s    in 2m 26s

2023-06-21 23:11:24 (331 KB/s) - ‘raw_data.csv’ saved [49342406/49342406]

FROM ZENODO

PIADE dataset contains data from five industrial packaging machines:

    Machine s_1: from 2020-01-01 14:00:00 to 2021-12-31 13:00:00
    Machine s_2: from 2020-06-17 08:00:00 to 2021-12-31 07:00:00
    Machine s_3: from 2020-10-07 12:00:00 to 2022-01-01 23:00:00
    Machine s_4: from 2020-01-01 01:00:00 to 2022-01-01 23:00:00
    Machine s_5: from 2020-01-20 08:00:00 to 2022-01-01 12:00:00

### Raw Data

Each row represents a production interval, with the following schema:

    interval_start: start of the production interval    
    equipment_ID: equipment identifier    
    alarm: alarm code of the active stop reason, if it occurred     
    type: idle, production, downtime, performance_loss or scheduled_downtime    
    start: start of the production interval    
    end: end of the production interval    
    elapsed: duration of the production interval    
    pi: input packages    
    po: output packages    
    speed: speed (packages per hour)

There are 133 different types of alerts, and 429394 rows.
 

### Sequences (1h) data

For each piece of equipment, we define sequences of length = 1 hour and we aggregate raw interval data as follows:

    'equipment_ID': machine identifier
    '#changes': changes in machine state
    '%downtime': time spent in 'downtime' state
    '%idle': time spent in 'idle' state
    '%performance_loss': time spent in 'performance loss' state
    '%production': time spent in production
    '%scheduled_downtime': time spent in scheduled downtime
    'count_sum': sum of all alarm occurrences
    'A_<XXX>': counter of alarm <XXX> occurrences
    '<state1>/<state2>': number of transitions from <state1> to <state2>

In [9]:
path_data = "../data/raw/"
file = "20230619--data-raw--zenodo--packaging_industry_anomaly_detection_piade.csv"

In [10]:
df = pd.read_csv(path_data+file)

In [11]:
df.head()

,interval_start,equipment_ID,alarm,type,start,end,elapsed,pi,po,speed
0,2020-01-01 11:21:28.907000+00:00,s_1,A_000,scheduled_downtime,1.577878e+09,1.577878e+09,63050,59916598,59517799,0
1,2020-01-01 11:22:31.957000+00:00,s_1,A_000,idle,1.577878e+09,1.577878e+09,30840,59916598,59517799,0
2,2020-01-01 11:23:02.797000+00:00,s_1,A_000,scheduled_downtime,1.577878e+09,1.577879e+09,1410671,59916598,59517799,0
3,2020-01-01 11:46:33.468000+00:00,s_1,A_000,idle,1.577879e+09,1.577881e+09,1524520,59916598,59517799,0
4,2020-01-01 12:11:57.988000+00:00,s_1,A_000,scheduled_downtime,1.577881e+09,1.577884e+09,2831270,59916598,59517799,0

In [16]:
pd.unique(df["alarm"])

array(['A_000', 'A_065', 'A_027', 'A_010', 'A_005', 'A_023', 'A_064',
       'A_001', 'A_017', 'A_025', 'A_009', 'A_066', 'A_020', 'A_013',
       'A_016', 'A_002', 'A_003', 'A_067', 'A_068', 'A_069', 'A_004',
       'A_028', 'A_070', 'A_035', 'A_071', 'A_021', 'A_072', 'A_073',
       'A_074', 'A_030', 'A_008', 'A_052', 'A_032', 'A_075', 'A_048',
       'A_062', 'A_077', 'A_076', 'A_078', 'A_038', 'A_014', 'A_024',
       'A_029', 'A_022', 'A_036', 'A_079', 'A_042', 'A_031', 'A_080',
       'A_056', 'A_081', 'A_083', 'A_082', 'A_033', 'A_085', 'A_084',
       'A_086', 'A_087', 'A_088', 'A_089', 'A_049', 'A_044', 'A_037',
       'A_090', 'A_091', 'A_092', 'A_093', 'A_094', 'A_095', 'A_096',
       'A_097', 'A_043', 'A_018', 'A_098', 'A_099', 'A_006', 'A_026',
       'A_034', 'A_100', 'A_041', 'A_050', 'A_051', 'A_101', 'A_011',
       'A_012', 'A_045', 'A_102', 'A_103', 'A_104', 'A_058', 'A_105',
       'A_106', 'A_015', 'A_107', 'A_007', 'A_019', 'A_039', 'A_040',
       'A_046', 'A_047', 'A_053', 'A_054', 'A_055', 'A_057', 'A_059',
       'A_060', 'A_061', 'A_063', 'A_108', 'A_109', 'A_110', 'A_111',
       'A_112', 'A_113', 'A_114', 'A_115', 'A_117', 'A_116', 'A_118',
       'A_119', 'A_120', 'A_121', 'A_122', 'A_123', 'A_124', 'A_125',
       'A_126', 'A_127', 'A_128', 'A_129', 'A_130', 'A_131', 'A_132'],
      dtype=object)

In [13]:
df.describe()

,start,end,elapsed,pi,po,speed
count,4.293940e+05,4.293940e+05,4.293940e+05,4.293940e+05,4.293940e+05,429394.000000
mean,1.613331e+09,1.613331e+09,3.699865e+05,3.119454e+07,3.460735e+07,5097.274184
std,1.930947e+07,1.930949e+07,1.368095e+06,3.432799e+07,3.410896e+07,1403.143281
min,1.577837e+09,1.577837e+09,1.140000e+02,0.000000e+00,0.000000e+00,0.000000
25%,1.595056e+09,1.595057e+09,1.392000e+04,8.433338e+05,1.031434e+06,4500.000000
50%,1.619039e+09,1.619039e+09,6.429400e+04,1.123067e+07,2.600625e+07,5526.000000
75%,1.629970e+09,1.629970e+09,2.402800e+05,6.622470e+07,6.579510e+07,6176.000000
max,1.641080e+09,1.641084e+09,7.929008e+07,3.385590e+08,3.391488e+08,6500.000000